# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=


ADMIN_REPO_ORG=acme-org
ADMIN_REPO_NAME=repo-approval-config
ADMIN_REPO_PATH=approval_rules.yaml
# If the ADMIN repo does not require a PR to update the approval rules, set this to FALSE
ADMIN_REPO_CREATE_PR=TRUE